// name this cohort/dataset
params.cohort = "cohort"

// expecting a single VCF as input for this whole process
params.input_vcf = "UNDEFINED"

// output path for Cohort results
params.output_dir = "nextflow/${params.cohort}_outputs"

// the ACMG specification TSV
params.acmg_spec = "UNDEFINED"

// all outputs which are not specific to a cohort/family/analysis
params.processed_annotations = "nextflow/preprocessed_annotations"

params.large_files = "large_files"
params.ref_genome = "${params.large_files}/ref.fa"

// path to Echtvar-formatted annotation data
// Download this file from https://zenodo.org/records/15222100
params.echtvar = "${params.large_files}/gnomad_4.1_region_merged_GRCh38_whole_genome"

// Ensembl gene feature file
params.gff_input = "${params.large_files}/Homo_sapiens.GRCh38.115.gff3.gz"

// MANE input summary file
params.mane_input = "${params.large_files}/mane_1_4.summary.txt.gz"

// REVEL data
params.revel_input = "${params.large_files}/revel-v1.3_all_chromosomes.zip"
params.revel_ht = "${params.processed_annotations}/filtered_revel.ht"

// grab the latest release from ClinvArbitration and go
params.clinvar = "${params.large_files}/clinvarbitration.tar.gz"

// AlphaMissense raw data, downloadable from https://zenodo.org/records/8208688/files/AlphaMissense_hg38.tsv.gz
// or Google Cloud https://console.cloud.google.com/storage/browser/dm_alphamissense
params.alphamissense_input = "${params.large_files}/AlphaMissense_hg38.tsv.gz"
params.alphamissense_ht = "${params.processed_annotations}/filtered_alphamissense.ht"

// Docker image - built from Dockerfile in the root directory
// "docker build -t talos_af:0.0.1 ."
params.container = 'talos_af:0.0.1'
docker.enabled = true
