// name this cohort/dataset
params.cohort = "cohort"

// directory for workflow input files
params.inputs = "nextflow/inputs"

// and the required workflow inputs
params.config = "${params.inputs}/config.toml"
params.pedigree = "${params.inputs}/pedigree.ped"
params.input_vcf = "${params.inputs}/test_1.vcf.bgz"

// output path for Cohort results
params.output_dir = "nextflow/${params.cohort}_outputs"

// the ACMG specification TSV
params.acmg_spec = "UNDEFINED"

// Optional, path to a previous set of results.
// If used the date of variant discovery in the report will be replaced with first-ever date the variant was seen
// either replace this location in config, or use the CLI argument "--previous_results path/to/results.json"
params.previous_results = "$projectDir/assets/NO_FILE"

// all outputs which are not specific to a cohort/family/analysis
params.processed_annotations = "nextflow/preprocessed_annotations"

params.large_files = "large_files"
params.ref_genome = "${params.large_files}/ref.fa"

// path to Echtvar-formatted annotation data
// Download this file from https://zenodo.org/records/15222100
params.gnomad_echtvar = "${params.large_files}/gnomad_4.1_region_merged_GRCh38_whole_genome"

// Ensembl gene feature file
params.gff_input = "${params.large_files}/Homo_sapiens.GRCh38.115.gff3.gz"

// MANE input summary file
params.mane_input = "${params.large_files}/mane_1_4.summary.txt.gz"

// REVEL data
params.revel_input = "${params.large_files}/revel-v1.3_all_chromosomes.zip"
params.revel_echtvar = "${params.processed_annotations}/filtered_revel.zip"

// grab the latest release from ClinvArbitration and go
params.clinvar = "${params.large_files}/clinvarbitration.tar.gz"
params.clinvar_echtvar = "${params.processed_annotations}/filtered_clinvar.zip"

// AlphaMissense raw data, downloadable from https://zenodo.org/records/8208688/files/AlphaMissense_hg38.tsv.gz
// or Google Cloud https://console.cloud.google.com/storage/browser/dm_alphamissense
params.alphamissense_input = "${params.large_files}/AlphaMissense_hg38.tsv.gz"
params.alphamissense_echtvar = "${params.processed_annotations}/filtered_alphamissense.zip"

// Docker image - built from Dockerfile in the root directory
// "docker build -t talos_af:0.0.1 ."
params.container = 'talos_af:0.0.1'
docker.enabled = true
