# Global frequency filter
# Applied to all variants regardless of MOI. Variants reported in ClinVar as P/LP are exempt from these filters
gnomad_max_af = 0.01
gnomad_sv_max_af = 0.03

# callset_* filters only apply to variants with a callset AC > min_callset_ac_to_filter.
callset_max_af = 0.01
callset_sv_max_af = 0.03

gnomad_max_homozygotes = 5
gnomad_max_hemizygotes = 5

# Dominant frequency filters - only applied to variants being considered for a dominant MOI.
# Variants reported in ClinVar as P/LP are exempt from these filters
dominant_gnomad_max_af = 0.00001
dominant_gnomad_max_ac = 10
dominant_gnomad_max_homozygotes = 0

# callset_* filters only apply to variants with a callset AC > min_callset_ac_to_filter.
dominant_callset_max_af = 0.01

# Clinvar frequency filters
# Applied to variants reported as P/LP in clinvar
clinvar_gnomad_max_af = 0.05
clinvar_dominant_gnomad_max_af = 0.00005

# callset_* filters only apply to variants with a callset AC > min_callset_ac_to_filter.
clinvar_callset_max_af = 0.05
clinvar_dominant_callset_max_af = 0.05

[references]
revel_zenodo = "https://zenodo.org/records/7072866/files/revel-v1.3_all_chromosomes.zip?download=1"
alphamissense_zenodo = "https://zenodo.org/records/8208688/files/AlphaMissense_hg38.tsv.gz?download=1"
clinvar_record = 17577130
