<tr
    data-sample-name="{{sample.name|e}}"
    data-sample-ext-id="{{sample.ext_id|e}}"
    data-family-id="{{sample.family_id|e}}"
    data-variant-coords="{{variant.chrom|e}}:{{variant.pos}}"
    data-variant-change="{{variant.change|e}}"
    data-gene="{{variant.gene|e}}"
    data-variant-data='{{variant.var_data_json|tojson}}'
    data-support-vars='{{variant.support_vars_json|tojson}}'
    data-transcript-consequences='{{variant.transcript_consequences_json|tojson}}'
    data-has-phenotype="{{ 1 if variant.forced_matches or variant.phenotype_matches or variant.pheno_matches else 0 }}"
>
    <td style="white-space: nowrap" class="details-control">
        {# Individual ID - Click to expand details #}
        <button type="button" class="btn btn-link btn-sm p-0 details-toggle" aria-label="Toggle details"><i class="bi-plus-square"></i></button>

        {% if sample.sample_link %}
            <a href="{{sample.sample_link|e}}" target="_blank">
                {{sample.ext_id|e}}
            </a>
        {% else %}
            {{sample.ext_id|e}}
        {% endif %}
        {% if sample.family_id %}
            <br><span class="text-muted">Family: {{ sample.family_id|e }}</span>
        {% endif %}
        {% if sample.name != sample.ext_id %}
            <br><span class="text-muted">({{ sample|e }})</span>
        {% endif %}
    </td>
    <td>
        {# Coordinates #}
        {% if variant.var_link %}
            <a href="{{variant.var_link|e}}" target="_blank">
                {{variant.chrom|e}}:{{variant.pos}}
            </a>
        {% else %}
            {{variant.chrom|e}}:{{variant.pos}}
        {% endif %}
        <br>
        {{ variant.change|replace("->", ">")|e }}

        {% set gnomad_url = 'https://gnomad.broadinstitute.org/variant/' ~ (variant|urlencode) ~ '?dataset=gnomad_r4' %}
        <br>
        <small class="text-muted">
            gnomAD v4 AC: <a href="{{ gnomad_url }}" target="_blank">{{ variant.var_data.info.gnomad_ac_joint }}</a>
            {% if variant.var_data.info.gnomad_af_joint is not none %}
            | AF: <a href="{{ gnomad_url }}" target="_blank">{{ variant.var_data.info.gnomad_af_joint | round(4) }}</a>
            {% endif %}
        </small>
    </td>
    <td>
        {# Gene symbol #}
        <a href="https://panelapp-aus.org/panels/entities/{{variant.gene|urlencode}}" target="_blank">{{variant.gene|e}}</a>
        <br>
        <span class="text-muted">
        {{ variant.reasons|replace("Autosomal Recessive Homozygous","AR (Hom)")
        |replace("Autosomal Recessive Comp-Het","AR (Comp-Het)")
        |replace("Autosomal Dominant","AD")
        |replace("X_Male","XLR (Male)")
        | e }}
        </span>
    </td>
    <td>
        {# First Tagged #}
        {{ variant.first_tagged }}
    </td>
    <td>
        {# CSQ #}
        {% if variant.csq %}
            {{variant.csq|e}}
            <br>
            {% set p_parts = (variant.hgvsps or '').split(' ', 1) %}
            {{ p_parts[1]|default(p_parts[0], true)|e }}
        {% endif %}
    </td>
    <td>
        {# Clinvar #}
        {% if variant.var_data.info.clinvar_allele %}
            <a href="http://www.ncbi.nlm.nih.gov/clinvar?term={{variant.var_data.info.clinvar_allele|urlencode}}[alleleid]" target="_blank">{{ variant.var_data.info.clinvar_significance|replace('Pathogenic/Likely Pathogenic','(Likely) Pathogenic')|replace('missing','')|e }}</a>
            {% if variant.var_data.info.gold_stars %}{% for i in range(variant.var_data.info.gold_stars|int) -%}<i class="bi-star"></i>{% endfor %}{% endif %}
        {% endif %}
    </td>
</tr>
